**/*.js.map
.gitignore
.travis.yml
.vscode-test/**
.vscode/**/*
appveyor.yml
gulpfile.js
i18n
out/**/*.map
out/test/**
out/tests/**/*
src/**
src/**/*
tsconfig.json
tslint.json
vsc-extension-quickstart.md